body {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    min-width: 350px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}