body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.product-image img {
    width: 100%;
    display: block;
}

.product-details {
    padding: 15px;
}

.product-details h3 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

.product-details p {
    color: #555;
    font-size: 14px;
}